#systems, #teamProjects, #websites {
    padding: 40px 16%;
    display: grid;
    gap:16px;
    grid-template-columns: repeat(2, 1fr);
}

div h2 {
    margin: 0;
}

.teamProjects {
    display: inline;
    padding: 0;
}
.teamProjects a {
    text-decoration: none;
    color:black;
    font-weight: 700;
}
.teamProjects a:hover {
    text-decoration: underline;
}
.teamProjects p {
    margin-top: 0;
}
.teamProjects img {
    margin-left: 4%;
    width: 90%;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 70%;
}

#systems, #websites {
    background-color:rgba(23, 6, 185, 0.5);
    color:#e6e6e6;
}

#teamProjects {
    background-color: white;
}