main {
    background-color: rgba(23, 6, 185, 0.5);
    color:#e6e6e6;
    padding: 100px 6%;
}

main a img {
    width: 10%;
    margin-right: 8%;
    transition: box-shadow 1s ease;
}
main a img:hover {
    box-shadow: 1px 1px 2px black;
}

main div {
    width: 40%;
}

@media (width < 750px) {
    main div {
        width: 100%;
    }
    main a img {
        width: 15%;
        margin: 0 4.5%;
    }
}