#systems, #websites {
    padding: 40px 16%;
    display: grid;
    gap:16px;
    grid-template-columns: repeat(2, 1fr);
}

div h2 {
    margin: 0;
}
#emptydiv {
    border: none !important;
}

#hero {
    background-color: rgba(23, 6, 185, 0.5);
    text-align: center;
    color:#e6e6e6;
    padding: 200px 20px;
}
#hero a {
    text-decoration: none;
    color:#e6e6e6;
}
#hero #biglink {
    font-weight: 700;
    font-size: 35px;
}
#hero a:hover{
    text-decoration: underline;
}
#hero p{
    margin: 0;
    font-size: 0.9em;
}


#websites {
    background-color: white;
}
#websites div {
    border-bottom: black 1px solid;
}
#websites a {
    text-decoration: none;
    color:black;
    font-weight: 700;
}
#websites a:hover, #systems a:hover {
    text-decoration: underline;
}

#systems {
    background-color:rgba(23, 6, 185, 0.5);
    color:#e6e6e6;
}
#systems div {
    border-bottom: white 1px solid;
}
#systems a {
    text-decoration: none;
    color: #e6e6e6;
    font-weight: 700;
}

main img {
    margin-left: 4%;
    width: 90%;
}


@media (width < 750px) {
    #systems, #websites {
        display: block;
    }
    #systems div, #websites div, #systems h2, #websites h2 {
        margin: 16px;
    }
}